<!-- Using Google -->
<h1 style="text-align: center;background:'grey';color:'white'">
  Using iframe and document url (Google)
</h1>
<iframe src="https://docs.google.com/document/d/1DVuVvHVrMiEG8MnnhllFPzVUKsC3YlvCTuNVDlqXWyI/edit?usp=sharing"
  style="width: 900px;height: 500px;margin-left: 15%">
</iframe>

<!-- Using Office -->
<h1 style="text-align: center;background:'grey';color:'white'">
  Using iframe and document url (Office)
</h1>
<iframe
  src="https://view.officeapps.live.com/op/embed.aspx?src=file-examples-com.github.io/uploads/2017/02/file-sample_500kB.docx"
  style="width: 900px;height: 500px;margin-left: 15%">
</iframe>

<!-- Using Ngx Doc Viewer (Google) -->
<h1 style="text-align: center;background:'grey';color:'white'">
  Using ngx-doc-viewer(Google)
</h1>
<ngx-doc-viewer url="https://file-examples-com.github.io/uploads/2017/02/file-sample_500kB.docx" viewer="google"
  style="width: 900px;height: 500px;margin-left: 15%">
</ngx-doc-viewer>

<!-- Using Ngx Doc Viewer (Office) -->
<h1 style="text-align: center;background:'grey';color:'white'">
  Using ngx-doc-viewer(Office)
</h1>
<ngx-doc-viewer url="https://file-examples-com.github.io/uploads/2017/02/file-sample_500kB.docx" viewer="office"
  style="width: 900px;height: 500px;margin-left: 15%">
</ngx-doc-viewer>